# Arquivos e pastas do Git
.git
.github
.gitattributes
.gitignore

# Dependências locais que não devem ser copiadas para o Docker
node_modules

# Arquivos de log e de ambiente local
*.log
.env
.DS_Store

# Saídas de build e cache que não devem ser copiadas
# (serão geradas dentro do contêiner)
dist
dist-types
coverage
.cache
